<?xml version="1.0"?>
<config>
    <modules>
        <Kwojc_CookieNoticeFix>
            <version>0.0.1</version>
        </Kwojc_CookieNoticeFix>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_cookieNotice>Kwojc_CookieNoticeFix_Page_Block_Html_CookieNotice</html_cookieNotice>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>